#wrapper{
background:black;
width 960px;
margin-right:auto;
margin-left:auto;
font-family: sans-serif;
}
header{
padding-top:10px;
padding-left:10px;
padding-bottom:10px;
background: rgb(72,110,68);
}
nav{
text-align:right;
}
nav ul{
list-style-type: none;
padding-left: 10px;
}
nav li{

display: inline;
margin-right: 40px;

}
a {
color: rgb(72,110,86);
text-decoration:none;
font-size:22;
}
section{
height: 550px;
clear:both;
background: rgb(72,110,68);
}

footer{
height: 50px;
clear:both;
background: rgb(122,60,18);
}
