#wrapper{
width 980px;
margin-right:auto;
margin-left:auto;
font-family: sans-serif;
}
body{
background: black;
}
header{
padding-top:10px;
padding-left:10px;
padding-bottom:10px;
background: rgb(72,110,68);
}
nav{
text-align:right;
}
nav ul{
list-style-type: none;
padding-left: 10px;
}
nav li{

display: inline;
margin-right: 40px;

}
a {
color: rgb(72,110,86);
text-decoration:none;
font-size:22;
}
section{
height: 5550px;
clear:both;
background: rgb(72,110,68);

}
.article{
height:600px;
margin-top:15px;
margin-bottom:50px;
padding-top: 50px;
padding-left:10px;
}
.article img{
float: center;
border:1px solid black;
}

footer{
height: 50px;
clear:both;
background: rgb(122,60,18);
}
